In [1]:
import pandas as pd
import numpy as np

In [ ]:
Reading Wikipedia page through pandas read html method

In [5]:
dfTorrento=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',skiprows=1)[0]

In [6]:
dfTorrento.head(5)

     0                 1                 2
0  M1A      Not assigned      Not assigned
1  M2A      Not assigned      Not assigned
2  M3A        North York         Parkwoods
3  M4A        North York  Victoria Village
4  M5A  Downtown Toronto      Harbourfront

In [ ]:
Adding columns to data frame.

In [7]:
dfTorrento.columns=['PostalCode','Borough','Neighborhood']

In [8]:
dfTorrento.shape

(288, 3)

Removing the rows where Borough column having value of Not assigned and then setting multilevel index.

In [9]:
df=dfTorrento[dfTorrento['Borough']!="Not assigned"]
df.set_index(['PostalCode','Borough'],inplace=True)

In [10]:
df.shape

(211, 1)

In [ ]:
Grouping the data frame based on postalcode and borough, and then combining neighborhood column values by separating comma.

In [11]:
df = df.groupby(level=['PostalCode','Borough'], sort=False).agg( ','.join)

In [ ]:
Reseting index to default

In [12]:
df=df.reset_index()

In [ ]:
Using numpy, we are assigning Neighnorhood column with Borough column value, where we have Neighborhood having value of Not Assigned

In [13]:
df['Neighborhood']=np.where(df.Neighborhood=="Not assigned",df.Borough,df.Neighborhood)

In [14]:
df.head(10)

  PostalCode           Borough                     Neighborhood
0        M3A        North York                        Parkwoods
1        M4A        North York                 Victoria Village
2        M5A  Downtown Toronto         Harbourfront,Regent Park
3        M6A        North York  Lawrence Heights,Lawrence Manor
4        M7A      Queen's Park                     Queen's Park
5        M9A         Etobicoke                 Islington Avenue
6        M1B       Scarborough                    Rouge,Malvern
7        M3B        North York                  Don Mills North
8        M4B         East York   Woodbine Gardens,Parkview Hill
9        M5B  Downtown Toronto          Ryerson,Garden District

In [15]:
df.shape

(103, 3)

In [1]:
#!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim
address='M3A'
geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude)
print(longitude)

ModuleNotFoundError: No module named 'geopy'

In [2]:
dtcord=pd.read_csv('http://cocl.us/Geospatial_data')

In [3]:
dtcord.head(5)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
dtcord.shape
dtcord.columns=['PostalCode','Latitude','longitude']
dtcord.head(5)

  PostalCode   Latitude  longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [23]:
dfwithcord=pd.merge(df, dtcord, on='PostalCode')

In [24]:
dfwithcord.head(5)

,PostalCode,Borough,Neighborhood,Latitude,longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494