In [102]:
import pandas as pd
import numpy as np

In [ ]:
Reading Wikipedia page through pandas read html method

In [16]:
dfTorrento=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',skiprows=1)[0]

In [17]:
dfTorrento.head(5)

     0                 1                 2
0  M1A      Not assigned      Not assigned
1  M2A      Not assigned      Not assigned
2  M3A        North York         Parkwoods
3  M4A        North York  Victoria Village
4  M5A  Downtown Toronto      Harbourfront

In [ ]:
Adding columns to data frame.

In [19]:
dfTorrento.columns=['PostalCode','Borough','Neighborhood']

In [22]:
dfTorrento.shape

(288, 3)

Removing the rows where Borough column having value of Not assigned and then setting multilevel index.

In [93]:
df=dfTorrento[dfTorrento['Borough']!="Not assigned"]
df.set_index(['PostalCode','Borough'],inplace=True)

In [94]:
df.shape

(211, 1)

In [ ]:
Grouping the data frame based on postalcode and borough, and then combining neighborhood column values by separating comma.

In [96]:
df = df.groupby(level=['PostalCode','Borough'], sort=False).agg( ','.join)

In [ ]:
Reseting index to default

In [97]:
df=df.reset_index()

In [ ]:
Using numpy, we are assigning Neighnorhood column with Borough column value, where we have Neighborhood having value of Not Assigned

In [103]:
df['Neighborhood']=np.where(df.Neighborhood=="Not assigned",df.Borough,df.Neighborhood)

In [99]:
df.head(10)

  PostalCode           Borough                     Neighborhood
0        M3A        North York                        Parkwoods
1        M4A        North York                 Victoria Village
2        M5A  Downtown Toronto         Harbourfront,Regent Park
3        M6A        North York  Lawrence Heights,Lawrence Manor
4        M7A      Queen's Park                     Queen's Park
5        M9A         Etobicoke                 Islington Avenue
6        M1B       Scarborough                    Rouge,Malvern
7        M3B        North York                  Don Mills North
8        M4B         East York   Woodbine Gardens,Parkview Hill
9        M5B  Downtown Toronto          Ryerson,Garden District

In [101]:
df.shape

(103, 3)